*{
    margin:0 ;
    padding: 0 ;
    box-sizing:border-box;
    font-family:Roboto , sans-serif;
}

header {
    background-color: rgb(188, 108, 188);
    padding:16px 0 ;
    color: white;
    display: flex;
    border-bottom: 16px solid rgb(62, 3, 62);
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header button {
    margin-left: 16px;
}

form{
    background-color: rgb(193, 189, 189);
    padding: 14px 0; 
    text-align: center;
    display:none;

}
form h2 {
    margin-bottom: 16px;
}

input,button {
    padding: 8px;
}
button {
    background-color: rgb(106, 220, 188);
    border:none;
    cursor:pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

#botao-cancelar{
    background-color: red;
}

ul {
    display:flex ;
    flex-wrap:wrap;
}

ul li {
    max-width: 25%;
    list-style:none ;
    position:relative;
    max: height 280px;
    overflow-y: hidden;
}

ul li img {
    widt: 100%;
    height:100%;
}
.overlay-image-link{
    padding: 16px;
    background-color: rgba(0,0,0,0.7);
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
    opacity: 0;
    transition:all ease .5s;

}
.overlay-image-link a {
    color: azure;
    text-decoration: none;
}
ul li :hover .overlay-image-link {
    opacity:1;
}